<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.4.0.49" targetFramework="net461" />
  <package id="windowtitlebar-wpf.WindowTitleControl" version="1.0.20" targetFramework="net461" />
  <package id="windowtitlebar-wpf.WindowTitleControl.Sample" version="1.0.20" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.0.0.446417" targetFramework="net461" />
</packages>